<?xml version="1.0" encoding="UTF-8" ?>
<!--接口实现类由原来的impl转换为一个mapper文件-->
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace=绑定一个对应的Dao/Mapper接口-->
<mapper namespace="cn.yifansun.dao.UserMapper">
<!--    在当前Mapper.xml中使用二级缓存-->
<!--    <cache-->
<!--            eviction="FIFO"-->
<!--            flushInterval="60000"-->
<!--            size="512"-->
<!--            readOnly="true"/>-->
    <cache type="org.mybatis.caches.ehcache.EhcacheCache"/>

    <select id="queryUserById" resultType="cn.yifansun.pojo.User">
        select * from user where  id = #{id}
    </select>



</mapper>